<header class="site-head">
  <div class="inner">
    <div class="brand">
      <div class="logo">DAILY<span>NEWS</span></div>
      <div class="event">เลือกตั้งผู้ว่าฯ กทม. 2569</div>
    </div>
    <%= render "header_status", election: election %>
  </div>
</header>
