<div class="council-seats" id="council-seats">
  <% election.council_seat_breakdown.each do |row| %>
    <span class="seat-row">
      <i style="background: <%= row[:color] %>"></i>
      <span class="party-name"><%= row[:party] %></span>
      <b><%= row[:seats] %></b><span class="seat-unit">ที่นั่ง</span>
    </span>
  <% end %>
</div>
